@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,100&display=swap');

/*-- VARIABLES CSS --*/

:root {
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
}

*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.change-theme {
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.5rem;
    margin-right: 1.5rem;
}



.scale-cv .main-container {
    max-width: 595;
}

.scale-cv .section {
    padding: 1rem 0 .80rem;
}

.scale-cv .section-title {
    margin-bottom: 0.75rem;
}

body.dark-theme {
    --title-color: #F2F2F2;
    --text-color: #BFBFBF;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2B2B2B;
}

.change-theme:hover {
    color: var(--title-color);
}

body {
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0 0 3rem 0;
    padding: 0;
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,ul,p {
    margin: 0;
}

h1,h2,h3 {
    color: var(--title-color);
    font-weight: 600;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 1.5rem 0;
}

.section-title {
    font-size: 1.25rem;
    color: var(--title-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .10rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.a-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0,0,0,.1);
    transition: .3s;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 968px){
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 -1px 5px rgba(0,0,0,.3);
        border-radius: 1rem 1rem 0 0;
        z-index: 100;
        transition: .4s;
    }
}

.nav-logo, .nav_toggle {
    color: var(--title-color);
    font-weight: 500;
}

.nav_toggle {
    font-size: 1.5rem;
    cursor: pointer;
}


.nav-item {
    text-align: center;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav-link i{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: var(--text-color-light);
    font-weight: 500;
    
}

.nav-link:hover{
    color: var(--title-color);
}

.nav_icon {
    margin-bottom: 1rem;
}

.container {
    max-width: 968px;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.show-menu {
    bottom: 3rem;
}

.home {
    position: relative;
}

.home_container {
    gap: 1rem;
}

.home_data {
    gap: 5rem;
    text-align: center;
}

.home_img {
    width: 160px;
    height: 160px;
    margin-bottom: 1.5rem;
}

.home_title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.home_profession {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.home_address {
    margin-top: 2rem;
    margin-left: 2rem;
}

.home_information {
    display: flex;
    align-items: center;
}

.home-icon {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.home_button {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: .3s;
    font-weight: 500;
}

.home_button:hover {
    background-color: var(--text-color);
    color: var(--container-color);
}


.p-about {
    
    line-height: 1.8rem;
    padding: 2rem 2rem;
    margin-top: -1rem;
}

.formation-title,
.experience-title {
    font-size: 1rem;
}

.formation-study {
    font-size: 0.9rem;
    color: var(--title-color);
}

.formation-year {
    font-size: 0.8rem;
}

.formation-content,
.experience-content {
    display: flex;
    padding: 0 0.8rem;
}

.formation-time,
.experience-time {
    padding-right: 1rem;
}

.formation-rounder{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--title-color);
    border-radius: 50%;
    margin-top: .6rem;
    margin-left: 1rem;
}

.formation {
    margin-bottom: 2rem;
}

.skills-content {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2rem;
}

.skills-content {
    gap: 0;
}

.section-title {
    margin-bottom: 2rem;
}

.title-skill {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.skills-name {
    padding: .5rem .5rem;
}

.skills-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.skills-data,
.experience-data {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.skills-personal {
    margin-left: 2rem;
    padding: .5rem;
}

.skills-line {
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: var(--text-color);
    margin-right: .5rem;
}

.experience-description {
    line-height: 2;
}

.project {
    list-style: none;
    margin-left: 1rem;
}

.project-item {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: -1.5rem;
}

.project-item a:hover {
    color: rgb(17, 224, 221);
}

.bxl-github {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.bxl-github:hover{
    color: rgb(19, 204, 207);
}

.project-l {
    font-size: 14px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.project-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: .5rem;
}

.contact-content {
    text-align: center;
}

.icon-contact {
    font-size: 1.8rem;
    margin-left: .8rem;
    margin-bottom: 2rem;
}

.icon-contact:hover { 
     color: rgb(19, 204, 207);
}

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: var(--container-color-alt);
    border-radius: 2rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;
}

.scrolltop_icon {
    font-size: 1.5rem;
    color: var(--text-color);
}

.show-scroll {
    visibility: visible;
    bottom: 5rem;
}

@media screen and (max-width: 320px){
    .nav-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}


@media screen and (min-width: 968px) {
    body {
        margin: 3rem 15%;
    }

    .main-container {
        margin-left: auto;
        margin-right: auto;
    }

    .a-header, .scrolltop{
        display: none;
    }

    .resume{
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13,12,12,.15);
    }

    .resume_left {
        background-color: var(--container-color-alt);
    }

    .resume_left, .resume_right {
        padding: 1rem 0;
    }
}
